@model Tuple<ProductManagement.Models.Product, ProductManagement.Models.Type>

<link href="../assets/demo/demo.css" rel="stylesheet" />
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>

<script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
@*<script src="~/assets/js/plugins/arrive.min.js"></script>*@
<link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<script src="~/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
@using (Html.BeginForm("Save", "Product", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Référence</label>
                @Html.HiddenFor(model => model.Item1.Id)
                @Html.TextBoxFor(model => model.Item1.Reference, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Nom</label>
                @Html.TextBoxFor(model => model.Item1.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Date de fabrication</label>
                @Html.TextBoxFor(model => model.Item1.Datefab, new { @class = "form-control" })
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Description</label>
                @Html.TextBoxFor(model => model.Item1.Desc, new
                {
                    @class = "form-control"@*, @type = "datetime-local"*@})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                @Html.DropDownListFor(model => model.Item1.Type, new SelectList(Model.Item2.List(), "id", "typep"), "Select Type", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Prix</label>
                @Html.TextBoxFor(model => model.Item1.Price, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Quantité</label>
                @Html.TextBoxFor(model => model.Item1.Qt, new { @class = "form-control" })
            </div>
        </div>  
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </div>


}
