@model Tuple<ProductManagement.Models.Product, ProductManagement.Models.Type>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <script src="~/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script src="~/assets/demo/demo.js"></script>
    <link href="~/Content/required.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Add Client</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="container">

                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Gestion des produits</h4>
                            <p class="card-category">Ajout de produit</p>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Save", "Product", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Réference</label>
                                            @Html.TextBoxFor(model => model.Item1.Reference, new { @class = "form-control" ,@required="required", @maxlength = "25" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Nom</label>
                                            @Html.TextBoxFor(model => model.Item1.Name, new { @class = "form-control", @maxlength = "25" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group  bmd-form-group ">
                                            <label class="bmd-label-floating required" style="margin-left:87px">Date de fabrication</label>
                                            @Html.TextBoxFor(m => m.Item1.Datefab, new { @class = "form-control datepicker datetimepicker-input", @type = "date", @required = "required" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Description</label>
                                            @Html.TextBoxFor(model => model.Item1.Desc, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="margin-top: -5px;">
                                        <div class="form-group  bmd-form-group">
                                            @*<label class="bmd-label-floating">Cité</label>*@
                                            @Html.DropDownListFor(model => model.Item1.Type, new SelectList(Model.Item2.List(), "id", "typep"), "Select Type", new { @class = "form-control required", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Prix</label>
                                            @Html.TextBoxFor(model => model.Item1.Price, new {@id="price", @class = "form-control", @type = "number", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Quantité</label>
                                            @Html.TextBoxFor(model => model.Item1.Qt, new {@id="qt", @class = "form-control",@type="number", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            @Html.DropDownListFor(model => model.Item1.Available, new List<SelectListItem>
   {
     new SelectListItem { Text = "Oui", Value = "true"},
     new SelectListItem { Text = "Non", Value = "false"} }, "Disponible", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>*@
                                <input type="submit" value="Enregistrer" class="btn btn-primary pull-right" />

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>

<script>

    $(document).ready(function () {
        $(".nav-item").removeClass("active");
        $("#linkp").addClass("active");
        $('#example').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            }
        );
    });
</script>
