@model ProductManagement.Models.Type

<h4 style="margin-left:200px;color:red">@ViewBag.msg</h4>
    <div class="card">
        <div class="card-header card-header-primary">
            @*<h4 class="card-title">Gestion des clients</h4>*@
            <p class="card-category">Liste des types de produit</p>
        </div>
        <div class="card-body">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Descrption</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var type in ViewBag.Listtype)
                    {
                        <tr>
                            <td>@type.Id</td>
                            <td>@type.Typep</td>
                            <td>@type.Description</td>
                            <td>
                                <a id="modif" href="#" onclick="Detail(@type.Id)">Modifier</a> | <a id="delete" onclick="Delete(@type.Id)" href="#">Supprimer</a>
                            </td>
                        </tr>
                    }
                </tbody>
                @*<tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Adresse</th>
                        </tr>
                    </tfoot>*@
            </table>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    }
                }
            );
        });
    </script>
<script>
    function Delete(id) {
        $.ajax({
            url: '/Typeproduct/Deletetype',
            data: { "id": id },
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {

                $('#Listtype').html(result);
                //$('#example').DataTable(
                //    {
                //        "language": {
                //            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                //        }
                //    }
                //);
            },
            error: function (result) {
                alert('fail');
            }
        })
    }
    function Detail(id) {
        $.ajax({
            url: '/Typeproduct/Detailtype',
            data: { "id": id },
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#Addtype').html(result);
                $('.bmd-form-group').addClass('is-focused');
                $('#txtp').text('Modification de type');
            },
            error: function (result) {
                alert('fail');
            }
        })
    }
</script>
