@model ProductManagement.Models.Client

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="~/assets/js/datatable/jquery.datatables.min.js"></script>
<link href="~/assets/css/datatable/jquery.datatables.min.css" rel="stylesheet" />
<link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
<script src="~/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
<script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
<link href="~/Content/required.css" rel="stylesheet" />

@using (Html.BeginForm("Save", "Client", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating required">Nom</label>
                @Html.HiddenFor(model => model.Id)
                @Html.TextBoxFor(model => model.Firstname, new { @id = "fn", @class = "form-control", required = "required", @type = "text", @maxlength = "25" })
                @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating required">Prénom</label>
                @Html.TextBoxFor(model => model.Lastname, new { @id = "ln", @class = "form-control", required = "required", @maxlength = "25" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating" style="margin-left:87px">Date de Naissance</label>
                @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control datepicker datetimepicker-input" })

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating required">Adresse</label>
                @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control", required = "required", @maxlength = "100" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating required">Cité</label>
                @Html.TextBoxFor(model => model.Cite, new { @class = "form-control", required = "required", @maxlength = "25" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                @Html.DropDownListFor(model => model.Countrie, new SelectList(ViewBag.CountryList), "Select pays", new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating required">Code postal</label>
                @Html.TextBoxFor(model => model.Codep, new { @id = "codep", @class = "form-control", required = "required" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", @maxlength = "50" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Numéro de téléphone</label>
                @Html.TextBoxFor(model => model.Tel, new { @id = "tel", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group  bmd-form-group">
                <label class="bmd-label-floating">Profession</label>
                @Html.TextBoxFor(model => model.Prof, new { @id = "prof", @class = "form-control", @maxlength = "25" })
            </div>
        </div>
    </div>
    <input type="submit" value="Enregistrer" class="btn @Session["btn"] pull-right" />

}
<script>
    $(document).ready(function () {
        if ($('#tel').val() == 0) {
            $('#tel').val() = "";
        }
    });
    $("#fn,#ln,#prof").keydown(function (e) {
        if ($(this).val().length > 25 || $.isNumeric(e.key))
            return false;

        return true;
    });
    $("#tel").keydown(function (e) {
        if ($(this).val().length < 10 && $.isNumeric(e.key) || e.keyCode == 9 || e.keyCode == 46 || e.keyCode == 8 || e.keyCode == 37 || e.keyCode == 39)
            return true;

        return false;
    });
    $("#codep").keydown(function (e) {
        if ($(this).val().length < 4 && $.isNumeric(e.key) || e.keyCode == 9 || e.keyCode == 46 || e.keyCode == 8 || e.keyCode == 37 || e.keyCode == 39)
            return true;

        return false;
    });


</script>
