@model ProductManagement.Models.Client
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <script src="~/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script src="~/assets/demo/demo.js"></script>
    <link href="~/Content/required.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Add Client</title>

</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="container">

                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Gestion des clients</h4>
                            <p class="card-category">Ajouter un client</p>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Save", "Client", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Nom</label>
                                            @Html.TextBoxFor(model => model.Firstname, new {@id="fn", @class = "form-control", required = "required",@type="text" })
                                            @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Prénom</label>
                                            @Html.TextBoxFor(model => model.Lastname, new { @id = "ln", @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating" style="margin-left:87px">Date de Naissance</label>
                                            @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control datepicker datetimepicker-input", @type = "date" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Adresse</label>
                                            @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Cité</label>
                                            @Html.TextBoxFor(model => model.Cite, new { @class = "form-control",required="required" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            @*<label class="bmd-label-floating required">Pays</label>*@
                                            @Html.DropDownListFor(model => model.Countrie, new SelectList(ViewBag.CountryList), "Select pays", new { @class = "form-control", required = "required" });
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating required">Code postal</label>
                                            @Html.TextBoxFor(model => model.Codep, new {@id="codep", @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Email</label>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Numéro de téléphone</label>
                                            @Html.TextBoxFor(model => model.Tel, new {@id="tel", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Profession</label>
                                            @Html.TextBoxFor(model => model.Prof, new {@id="prof", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Enregistrer" class="btn btn-primary pull-right" />

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $(".nav-item").removeClass("active");
        $("#linkc").addClass("active");
        $('#example').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            }
        );
    });
 
    $("#fn,#ln,#prof").keydown(function (e) {
        if ($.isNumeric(e.key))
            return false;

        return true;
        });
    $("#tel").keydown(function (e) {
        if ($(this).val().length < 10 && $.isNumeric(e.key) || e.keyCode == 46 || e.keyCode == 8 || e.keyCode == 37 || e.keyCode == 39)
            return true;

        return false;
    });
    $("#codep").keydown(function (e) {
        if ($(this).val().length < 4 && $.isNumeric(e.key) || e.keyCode == 46 || e.keyCode == 8 || e.keyCode == 37 || e.keyCode == 39)
            return true;

        return false;
    });
    
  
</script>
