@model ProductManagement.Models.Client
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <script src="~/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script src="~/assets/demo/demo.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Add Client</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="container">

                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Gestion des clients</h4>
                            <p class="card-category">Ajouter un client</p>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Save", "Client", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Nom</label>
                                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Prénom</label>
                                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating" style="margin-left:87px">Date de Naissance</label>
                                            @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control datepicker datetimepicker-input", @type = "date" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Adresse</label>
                                            @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Cité</label>
                                            @Html.TextBoxFor(model => model.Cite, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Pays</label>
                                            @Html.TextBoxFor(model => model.Countrie, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Code postal</label>
                                            @Html.TextBoxFor(model => model.Codep, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Email</label>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Numéro de téléphone</label>
                                            @Html.TextBoxFor(model => model.Tel, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  bmd-form-group">
                                            <label class="bmd-label-floating">Profession</label>
                                            @Html.TextBoxFor(model => model.Prof, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Ajouter" class="btn btn-primary pull-right" />

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $(".nav-item").removeClass("active");
        $("#linkc").addClass("active");
        $('#example').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            }
        );
    });
</script>
